@import "../../styles/variables";

.content {

  padding-bottom: 1rem;
  padding-top: 1rem;

  img {
    width: 100%;
  }

  p code,
  pre code {
    background-color: $lightAccent;
    color: $primaryAccent;
  }

  blockquote {
    background-color: $darkAccent;
    color: $primary
  }
}
