@import "./variables";

@mixin link {
  color: $dark;
  text-decoration: none;
}

@mixin link-accent-hover {
  @include link;
  &:hover {
    color: $lightAccent;
  }
}

@mixin link-primary-hover {
  @include link;
  &:hover {
    color: $primary;
  }
}
