@import "../../styles/variables";
@import "../../styles/link-mixins.scss";
@import "../../styles/nav-mixins.scss";

.linkContainer {
  display: flex;
  justify-content: space-between;

  .link {
    @include link-primary-hover;
  }
}

.footer {
  @include nav-background;
  color: $dark;
  min-height: 9vh;

  .footerContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
