@import "../../styles/variables";

.post {
  img {
    width: 100%;
  }

  p code,
  pre code {
    background-color: $lightAccent;
    color: $primaryAccent;
  }

  blockquote {
    background-color: $darkAccent;
    color: $primary
  }
}
